.App {
  text-align: center;
}


.loginbox{
  position:fixed;
  top:100px;
  right:10px;
  height: 300px;
  width: 300px;
  padding:3px;
  border-radius: 25px;
  box-shadow:11px, 12px, 13px, 12px, rgb(35, 87, 182) ;
  background-color: rgb(240, 247, 250);
}
.loginpage{
  background-color: rgb(241, 235, 235);
  
}

.content {
  margin: 100px;
  width: 50%;
  padding: 10px;
}

.country_sel {

  text-align: center;
  margin: auto;
  width: auto;
  padding: auto;
}

.loginbutton{
  padding-bottom: 5%;
  padding-left: 20%;
  padding-top: 35%;
 
}

.welcome-to-text{
  font-size: 25px;
  color: rgb(0, 0, 0);
  
  padding-top: 5%;
  padding-left: 25%;
  
}
.app-name{
  font-size: 30px;
  color: rgb(0, 0, 0);
  padding-top: 5%;
  padding-left: 5%;
}
.stay-connected-text{
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding-bottom: 5%;
  padding-left: 30%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loginbackground {
  height:100vh;
  width:220vh;

  overflow: hidden;
  display: flex;
  justify-content: center;
  object-fit: cover; 
}


/*..*/
/*new user page css*/
