.App {
  text-align: center;
}

select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.classic {
  background-image: linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}

select.round {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.profileTable {
  padding: 30px;
  margin-top: 10%;
  margin-left: 30%;
  width: 40%;
  display: block;
  text-align: center;
  border: 3px solid #3b5998;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.loginbox {
  position: fixed;
  top: 100px;
  right: 10px;
  height: 300px;
  width: 300px;
  padding: 3px;
  border-radius: 25px;
  box-shadow: 11px, 12px, 13px, 12px, rgb(35, 87, 182);
  background-color: rgb(240, 247, 250);
}
.loginpage {
  background-color: rgb(241, 235, 235);
}

.categories-list {
  list-style-type: none;
  text-align: left;
}
.content {
  text-align: center;
  margin-left: 25%;
  margin-top: 5%;
  margin-right: 25%;
  width: 50%;
  padding: 10px;
}

.country_sel {
  padding: 10px;
  text-align: center;
  margin: auto;
  width: auto;
  padding: auto;
}

.loginbutton {
  padding-bottom: 5%;
  padding-left: 20%;
  padding-top: 35%;
}

.welcome-to-text {
  font-size: 25px;
  color: rgb(0, 0, 0);

  padding-top: 5%;
  padding-left: 25%;
}
.app-name {
  font-size: 30px;
  color: rgb(0, 0, 0);
  padding-top: 5%;
  padding-left: 5%;
}
.stay-connected-text {
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding-bottom: 5%;
  padding-left: 30%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loginbackground {
  height: 99vh;
  width: 100%;

  overflow: hidden;
  /* display: flex; */
  /* justify-content: center; */
  object-fit: cover;
}

/*..*/
/*Homepahe carousal .css*/
.Carousel-trendingnews {
  font-family: sans-serif;

  height: 70vh;
  width: 100%;
}

.Carousel-1 {
  font-family: sans-serif;

  height: 55vh;
  width: 100%;
  padding-top: 5%;

  /* float: left; */
}
.trending-icon {
  margin-left: 5px;
}
.Carousel-2 {
  font-family: sans-serif;
  width: 100%;
  /* float: right; */

  height: 50vh;
}

.Carousel-text0 {
  font-size: 5vh;
  color: rgb(0, 0, 0);

  padding-left: 6%;
  padding-bottom: 1%;
}
.Carousel-text1 {
  font-size: 3vh;
  color: rgb(0, 0, 0);

  padding-top: 1%;
  padding-left: 6%;
  padding-bottom: 1%;
}
.Carousel-text2 {
  font-size: 50px;
  color: rgb(0, 0, 0);

  padding-top: 5%;
  padding-left: 5%;
}
.Carousel-text-image {
  display: flex;
  flex-direction: row;
}

.trendnews-text {
  font-size: 50px;
}
.News-categories-headline {
  font-size: 5vh;
  padding-left: 6%;
  padding-bottom: 5%;

  color: rgb(0, 0, 0);
}

.news-title {
  width: 40vh;
  height: 1vh;
  /* writing-mode: horizontal-tb;  */
  height: 4vh;
  /* padding-top: 5%; */
}
.news-content {
  width: 35vh;

  height: 28vh;
}
.Readmore {
  padding-bottom: 10%;
}
.bookmark {
  height: 3vh;
}
.bookmark.button {
  align-items: right;
}
/*...search bar css.*/
.main {
  padding-top: 5%;
  display: flex;
  height: 10vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  width: 30%;
}

ul li {
  font-size: 20px;
}
/*...firends-list css.*/
.friends-list {
  align-items: left;
}
.friends-header {
  padding-top: 1%;
  align-items: left;
}
