.App {
  text-align: center;
}

.LoginPage {
  text-align: center;
}
.LoginPage-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  margin: 100px;
  width: 50%;
  padding: 10px;
}
.loginbutton{
  position:fixed;
  bottom:50px;
  right:580px;
  border: 3px solid #000000;
 
}
.loginbutton2{
 color:blue;
 
}

@media (prefers-reduced-motion: no-preference) {
  .LoginPage-logo {
    animation: LoginPage-logo-spin infinite 20s linear;
  }
}
.loginbackground{
  opacity: 0.9; 
  filter: contrast(1.75);
  
} 

.loginpara{
  font-size: calc(10px + 4vmin);
  color: rgb(0, 0, 0);
  position:fixed;
  top: 40px;
  left: 605px;
}
.loginpara2{
  font-size: calc(15px + 6vmin);
  color: rgb(0, 0, 0);
  position:fixed;
  top: 70px;
  right: 370px;
}




.LoginPage-link {
  color: #74000f;
}
.gapi.signInButton{
  color: #74000f;
}


@keyframes LoginPage-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*..*/